<form class="admin-form">
    <div class="panel panel-default">
        <div class="panel-heading">Base Information</div>
        <div class="panel-body">
          {{translate-tabs attribute="title" model=model locales=locales}}
          <!-- {{#each formAttributes as |attribute| }}
            {{ admin-input class=admin-attribute model=model name=attribute }}
          {{/each}} -->
          <div class="control-group">
            <label class="control-label">Company</label>
            <div class="controls">
              {{#admin-select content=model.companies selectedValue=model.company prompt="Select" as |select| }}
                {{#each select.content as |item|}}
                  <option value = {{ item.id }} selected={{ is-equal item selectedValue }}>
                    {{ item.title }}
                  </option>
                {{/each}}                
              {{/admin-select }}
            </div>
          </div>
          <div class="control-group">
              <label class="control-label">User</label>
              <div class="controls">
                {{#admin-select content=model.users selectedValue=model.user prompt="Select" as |select| }}
                  {{#each select.content as |item|}}
                    <option value = {{ item.id }} selected={{ is-equal item selectedValue }}>
                      {{ item.email }}
                    </option>
                  {{/each}}                
                {{/admin-select }}
              </div>
          </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">File Uploads</div>
        <div class="panel-body">
          {{#each fileuploads as |attributee| }}
            {{ admin/fileupload/drag-and-drop-zone class=admin-fileupload model=model property=attribute.name }}
          {{/each}}
        </div>
    </div>

  {{#if model.asGoogleMap}}
      <div class="panel panel-default">
          <div class="panel-heading">Map</div>
          <div class="panel-body">
            {{google-map model=model}}
          </div>
      </div>
  {{/if}}

  {{partial "admin/form-buttons"}}
</form>