<form class="admin-form">
    <div class="panel panel-default">
        <div class="panel-heading">Base Information</div>
        <div class="panel-body">
          {{#each formAttributes as |attribute| }}
            {{ admin-input class=admin-attribute model=model name=attribute }}
          {{/each}}
          <div class="control-group">
            <label class="control-label">Company</label>
            <div class="controls">
              {{ admin-select content=companies selection=model.company optionLabelPath=content.title optionValuePath=content.id }}
            </div>
          </div>
          <div class="control-group">
              <label class="control-label">User</label>
              <div class="controls">
                {{ admin-select content=users selection=model.user optionLabelPath=content.email optionValuePath=content.id }}
              </div>
          </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">File Uploads</div>
        <div class="panel-body">
          {{#each fileuploads as |attributee| }}
            {{ admin/fileupload/drag-and-drop-zone class=admin-fileupload model=model property=attribute.name }}
          {{/each}}
        </div>
    </div>

  {{#if controller.model.asGoogleMap}}
      <div class="panel panel-default">
          <div class="panel-heading">Map</div>
          <div class="panel-body">
            {{google-map model=model}}
          </div>
      </div>
  {{/if}}

  {{partial "admin/form-buttons"}}
</form>